<a href="https://colab.research.google.com/github/IshaSarangi/Edureka_Notes/blob/main/Edureka_PythonBasics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("My name is Isha Sarangi. This is not the first time I am using Colab.")

My name is Isha Sarangi. This is not the first time I am using Colab.

Python Keywords

In [ ]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

Identifier

In [ ]:
age = 45

1. Keyword are not allowed
2. Name should start from alphabet not with numbers or special characters
3. Only (_) underscore is allowed

In [ ]:
salary = 10000
print(type(salary))
print(isinstance(salary, int))

<class 'int'>
True

In [ ]:
roi = 12.64
print(type(roi))
print(isinstance(roi, float))

<class 'float'>
True

In [ ]:
import sys
print(sys.getsizeof(salary)) #salary in bytes

28

In [ ]:
age = 24
print(age>18)
print(type(age>18))

True
<class 'bool'>

Sequences / Collection Datatypes / Built-in Datastructure: Strings, Lists, Tuples, Sets, Dictionaries

In [ ]:
# Collections: Managing multiple values in sequence

'''
Ordered / Unordered (indexing)
Mutable / Immutable (editable or not)
Duplicates are allowed or not

'''

# 1. Strings: Ordered, Immutable, Duplicates allowed
# 2. Lists []: Ordered, Mutable, Duplicates allowed
# 3. Tuples (): Ordered, Immutable, Duplicates allowed
# 4. Sets {}: Unordered, Mutable, Duplicates not allowed
# 5. Dictionaries {Key:Value}: Unordered, Keys are Immutable, Values are Mutable

Python List

In [ ]:
emp = [64, 'Isha Sarangi', 10000, 6.4, 'Cuttack', ['Project1', 'Project2']]
print(type(emp))

print(emp[0])
print(emp[-1][0])
print(emp)

#updating list
emp[2] = 62000
print(emp)

<class 'list'>
64
Project1
[64, 'Isha Sarangi', 10000, 6.4, 'Cuttack', ['Project1', 'Project2']]
[64, 'Isha Sarangi', 62000, 6.4, 'Cuttack', ['Project1', 'Project2']]

In [ ]:
lst = [10,10,20,40,60]
print(lst)

[10, 10, 20, 40, 60]

In [ ]:
emp = [64, 'Isha Sarangi', 10000, 6.4, 'Cuttack', ['Project1', 'Project2']]
print(len(emp))

# insert item
'''
append() - adds only one item at the end
extend() - adds multiple items at the end
insert() - adds item at any position (index)
'''
emp.append('Generative AI Enthusiasnt')
print(emp)

6
[64, 'Isha Sarangi', 10000, 6.4, 'Cuttack', ['Project1', 'Project2'], 'Generative AI Enthusiasnt']

In [ ]:
emp.extend(['a', 'b', 'c'])
print(emp)

[64, 'Isha Sarangi', 'Female', 'Female', 'Female', 'Female', 10000, 6.4, 'Cuttack', ['Project1', 'Project2'], 'Generative AI Enthusiasnt', 'a', 'b', 'c', 'a', 'b', 'c']

In [ ]:
emp.insert(2, 'Female')
print(emp)

In [ ]:
# Remove
# pop(): removes last item by default, otherwise as per index specified

# emp.pop()
# print(emp)
emp.pop(-4)
print(emp)

[64, 'Isha Sarangi', 'Female', 'Female', 'Female', 'Female', 10000, 'Cuttack', ['Project1', 'Project2'], 'Generative AI Enthusiasnt']

In [ ]:
# remove(): removes the item not the index
# if duplicate values, it removes the first occurrence
# in lists, if duplicate values exist, the list calls the first occurrence

emp.remove(64)
print(emp)

['Isha Sarangi', 'Female', 'Female', 'Female', 'Female', 10000, 'Cuttack', ['Project1', 'Project2'], 'Generative AI Enthusiasnt']

In [ ]:
emp.remove('Female')
print(emp)

['Isha Sarangi', 'Female', 10000, 'Cuttack', ['Project1', 'Project2'], 'Generative AI Enthusiasnt']

In [ ]:
# remove duplicates
lst = [1,1,2,3,4,1,5,6]
for i in lst:
    if i==1:
        lst.remove(1)

print(lst)

[2, 3, 4, 1, 5, 6]

Python Tuple

In [ ]:
tup = (64, 'Isha Sarangi', 62000, 6.4, 'Cuttack', ['Project1', 'Project2'])
print(type(tup))

# check mutability
# tup[3] = 4.8
# print(tup)

tup[-1][0] = 'Project3'
print(tup)

<class 'tuple'>
(64, 'Isha Sarangi', 62000, 6.4, 'Cuttack', ['Project3', 'Project2'])

Python Sets

In [ ]:
# Set Operations
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
print(s1.union(s2))
print(s1.intersection(s2))
print(s1.difference(s2))
print(s2.difference(s1))
print(s1.symmetric_difference(s2))

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{1, 2, 3}
{8, 6, 7}
{1, 2, 3, 6, 7, 8}

In [ ]:
# Type Conversion / Casting
lst = [1,2,2,3,5,5,6,3]
print(type(lst))
tup = tuple(lst) # list converted to tuple

st = set(lst) # list converted to set
print(st)

lst = list(st) # set converted to list
print(lst)

<class 'list'>
{1, 2, 3, 5, 6}
[1, 2, 3, 5, 6]

In [ ]:
# Nested Sequence
emp = [64, 'Isha Sarangi', 62000, 6.4, 'Cuttack', ['Project1', 'Project2']]
print(emp)
print(emp[-1])
print(emp[-1][0])

[64, 'Isha Sarangi', 62000, 6.4, 'Cuttack', ['Project1', 'Project2']]
['Project1', 'Project2']
Project1

Python Dictionary {Key:Value}

In [ ]:
emp = {'id': 64, 'name': 'Isha Sarangi', 'salary': 10000, 'exp': 2, 'city': 'Cuttack'}
print(type(emp))

print(emp['salary'])

<class 'dict'>
10000

In [ ]:
emp['salary'] = 62000 #keys are immutable, values are mutable
print(emp)

{'id': 64, 'name': 'Isha Sarangi', 'salary': 62000, 'exp': 2, 'city': 'Cuttack'}

In [ ]:
emp['Gender'] = 'Female' #item addition
print(emp)

{'id': 64, 'name': 'Isha Sarangi', 'salary': 62000, 'exp': 2, 'city': 'Cuttack', 'Gender': 'Female'}

In [ ]:
#Remove item
emp.pop('Gender')
print(emp)

{'id': 64, 'name': 'Isha Sarangi', 'salary': 62000, 'exp': 2, 'city': 'Cuttack'}

In [ ]:
#Nested Sequence
emp = {'id': [101,102], 'name': ['Isha', 'Aryan'], 'salary': [62000, 94000]}
print(emp)

import pandas as pd
df = pd.DataFrame(emp)
print(df)

{'id': [101, 102], 'name': ['Isha', 'Aryan'], 'salary': [62000, 94000]}
    id   name  salary
0  101   Isha   62000
1  102  Aryan   94000

Python Strings: Slicing, Interpolation, Inputs

In [ ]:
str = 'Sample String'
lst = list(str)
print(str)
print(lst)
print(str[1])

Sample String
['S', 'a', 'm', 'p', 'l', 'e', ' ', 'S', 't', 'r', 'i', 'n', 'g']
a

In [ ]:
#Slicing [start:stop:step]
str = 'abcdefgh'
print(str[0:5]) #start is inclusive, end is exclusive
print(str[5:8])
print(str[0:8:2])
print(str[::-1]) #reverse order
print(str[5:])

abcde
fgh
aceg
hgfedcba
fgh

In [ ]:
#Keyboard inputs
name = input("Enter your name: ")
print(f"Hi, {name}. Good morning!")
#print(type(name))
age = int(input("Enter your age: ")) #casting string to integers
#print(f"Alright you are {age}!")
if age >=18:
    print(f"Oh you are {age}. It means you are an adult now! Congratulations!")
else:
    print(f"Ah you are only {age}. Still a minor. Enjoy!")
#print(type(age))

Enter your name: Isha
Hi, Isha. Good morning!
Enter your age: 24
Oh you are 24. It means you are an adult now! Congratulations!

In [ ]:
name = input('Name: ')
balance = int(input('Balance: '))

print('Hi {}, your balance is {}.'.format(name, balance))

Name: Isha
Balance: 20000
Hi Isha, your balance is 20000.

In [ ]:
#Split()
str = "I am using split() function"
print(str.split()) #default separator is space

['I', 'am', 'using', 'split()', 'function']

In [ ]:
str = "Isha, Aryan, Rich, Business, Hustle"
print(str.split(',')) #separator is comma

['Isha', ' Aryan', ' Rich', ' Business', ' Hustle']

In [ ]:
print(dir(str)) #gives associated functions with the object

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [ ]:
print(str.count.__doc__)

S.count(sub[, start[, end]]) -> int

Return the number of non-overlapping occurrences of substring sub in
string S[start:end].  Optional arguments start and end are
interpreted as in slice notation.

Flow Control Statements: Conditional Statements, Loops

In [ ]:
#Conditional Statements: if, else, elif
marks = int(input("Enter your marks: "))
if marks > 80:
    print("Your Grade is A! COngratulations!")
else:
    print("Your Grade is B.")

Enter your marks: 98
Your Grade is A! COngratulations!

In [ ]:
marks = int(input("Enter your marks: "))
if marks < 50 and marks >= 0:
    if marks == 0:
        print('FAIL!')
    else:
        print("Grade: D")
elif 50 <= marks < 70:
    print('Grade: C')
elif 70 <= marks < 85:
    print('Grade: B')
elif 85 <= marks <= 100:
    if 95 <= marks <=100:
        print("Grade: A+. COngratulations!")
    else:
        print("Grade: A")

Enter your marks: 1
Grade: D

In [ ]:
#Loops: for, while
lst = [45, 63, 98, 52, 32, 78, 45, 12, 96]

for i in lst:
    print(i)

45
63
98
52
32
78
45
12
96

In [ ]:
for i in emp:
    print(emp[i])

[101, 102]
['Isha', 'Aryan']
[62000, 94000]

In [ ]:
for i in enumerate(lst): #enumerate displays index/position of an item
    print(i)

(0, 45)
(1, 63)
(2, 98)
(3, 52)
(4, 32)
(5, 78)
(6, 45)
(7, 12)
(8, 96)

In [ ]:
#range(start, stop, step)
print(list(range(0, 101, 5)))

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]

In [ ]:
num = int(input("Enter a number for which you want the table: "))
for i in range(1,11):
    print(f'{num}x{i}={num*i}')

Enter a number for which you want the table: 2
2x1=2
2x2=4
2x3=6
2x4=8
2x5=10
2x6=12
2x7=14
2x8=16
2x9=18
2x10=20

In [ ]:
#while loop
marks = int(input("Enter a number for which you want the table:"))
i = 1
while i <= 10:
    print(f'{marks}x{i}={marks*i}')
    i += 1

Enter a number for which you want the table:10
10x1=10
10x2=20
10x3=30
10x4=40
10x5=50
10x6=60
10x7=70
10x8=80
10x9=90
10x10=100

In [ ]:
#Guess the number game
import random
num = random.randint(1,101)
attempts = 0

while True:
    guess = int(input("Guess a number between 1 and 100: "))
    attempts += 1

    if guess < num:
        print("Too low! Try again.")
    elif guess > num:
        print("Too high! Try again. ")
    else:
        print(f'Congratulations! You guessed the number {num} in {attempts} attempts.')
        break

Guess a number between 1 and 100: 100
Too high! Try again.
Guess a number between 1 and 100: 10
Too high! Try again.
Guess a number between 1 and 100: 9
Too high! Try again.
Guess a number between 1 and 100: 5
Too high! Try again.
Guess a number between 1 and 100: 2
Too low! Try again.
Guess a number between 1 and 100: 3
Congratulations! You guessed the number 3 in 6 attempts.

In [ ]:
lst = [1,2,3,4,5,6,7,8,9]
num = int(input("Enter the number you want to search: "))

for i in lst:
    if i == num:
        print("Number Found!")
        break
    else:
        print(i)

Enter the number you want to search: 4
1
2
3
Number Found!

## **Python Functions**

1. Built-in Functions
2. User-defined Functions
3. Use Functions from modules/libraries

In [ ]:
#User defined functions:
# 1. Define the function
# 2. Call the functions

def greet(name): #name is argument/parameter
    print('Hi {}, good morning!'.format(name))

greet('Isha')

Hi Isha, good morning!

In [ ]:
#find even items out of a list
items = [47, 25, 22, 12, 36, 56, 98, 54, 78, 58, 13]

def even_item(items):
    even = []
    for i in items:
        if i%2 == 0:
            even.append(i)
    return even

In [ ]:
result = even_item(items)
print(result)

[22, 12, 36, 56, 98, 54, 78, 58]

In [ ]:
#Types of Arguments
#1. Required Positional Arguments (default)

def func1(name, age):
    print(f"Hi {name}, you are {age} years old.")

In [ ]:
uname = input("Enter your name: ")
uage = int(input("Enter your age: "))

func1(uname, uage)

Enter your name: Isha
Enter your age: 24
Hi Isha, you are 24 years old.

In [ ]:
#2. Key-word arguments
uname = input("Enter your name: ")
uage = int(input("Enter your age: "))

#func1(name=uname, age=uage)
func1(age=uage, name=uname)

Enter your name: Isha
Enter your age: 36
Hi Isha, you are 36 years old.

In [ ]:
#3. Arbitrary Arguments
def func2(*names):
    for name in names:
        print(f"Hi {name}, have a good day!")

In [ ]:
func2("Isha", "Aryan", "Soma", "Lulu", "Mita", "Amar")

Hi Isha, have a good day!
Hi Aryan, have a good day!
Hi Soma, have a good day!
Hi Lulu, have a good day!
Hi Mita, have a good day!
Hi Amar, have a good day!

In [ ]:
#4. Default Arguments
def func3(name, age=25):
    print(f"Hi {name}, you are {age} years old.")

func3("Isha")
func3("Isha", 24)

Hi Isha, you are 25 years old.
Hi Isha, you are 24 years old.

In [ ]:
def func4(name, age):
    print(f"Hi {name}, you are {age} years old.")

uname = input("Enter your name: ")
uage = int(input("Enter your age: "))

func4(uname, age=uage)
#func4(name=uname, uage) #Positional arguments should not follow keyword argument

Enter your name: Isha
Enter your age: 24
Hi Isha, you are 24 years old.

**Python Lambda Functions**

Small and restricted: only one line body, no name, default return (anonymous functions)

In [ ]:
#Syntax
#Lambda arguments: expression(argument_values)

def add(num1, num2):
    result = num1+num2
    return result

print(add(2,4))

6

In [ ]:
#Lambda Function
print((lambda num1, num2: num1+num2)(4,6)) #method-1

var = lambda num1, num2: num1+num2
print(var(3,5)) #method-2

10
8

In [ ]:
#Advance function: filter(), map(), reduce()
#Pass lambda as arguments

items = [1,2,3,4,5,6,7,8,9,0]

def even_item(lst):
    even=[]
    for i in lst:
        if i%2 == 0:
            even.append(i)
    return even

In [ ]:
# Filter() -> filter(lambda expression, items)
even = filter(lambda i: i%2==0, items)
odd = filter(lambda i: i%2 != 0, items)
print(list(even))
print(list(odd))

[2, 4, 6, 8, 0]
[1, 3, 5, 7, 9]

In [ ]:
# Map() -> map(lambda expression, items)
items = [1,2,3,4,5,6,7,8,9,0]

cube = map(lambda i: i**3, items)
print(list(cube))

[1, 8, 27, 64, 125, 216, 343, 512, 729, 0]

In [ ]:
# Reduce() -> (Aggregations: sum, avg)

from functools import reduce
sales = [1000, 2000, 3000, 4000, 5000]

sum = reduce(lambda a,b: a+b, sales)
cum_avg = reduce(lambda a,b: (a+b)/2, sales)
actual_avg = reduce(lambda a,b: sum/2, sales)

print("Total Sales: ", sum)
print("Average Cumulative Sales per day: ", cum_avg)
print("Average Sales per day: ", actual_avg)

Total Sales:  15000
Average Cumulative Sales per day:  4062.5
Average Sales per day:  7500.0

**Exception Handling**

Try, Except, Finally, Else

In [ ]:
var1 = int(input("Enter var1: "))
var2 = int(input("Enter var2: "))
print(var1/var2)

Enter var1: 4
Enter var2: 2
2.0

In [ ]:
import sys
try:
    var1 = int(input("Enter var1: "))
    var2 = int(input("Enter var2: "))
    print(var1/var2)
except:
    print("Invalid Input!")
    print(sys.exc_info()) #to get more details about the exception
    print("Try Again!")
    var1 = int(input("Enter var1: "))
    var2 = int(input("Enter var2: "))
    print(var1/var2)

Enter var1: 4
Enter var2: 0
Invalid Input!
(<class 'ZeroDivisionError'>, ZeroDivisionError('division by zero'), <traceback object at 0x792a2b76e880>)
Try Again!
Enter var1: 4
Enter var2: 2
2.0

In [ ]:
#Multiple except blocks
import sys
try:
    var1 = int(input("Enter var1: "))
    var2 = int(input("Enter var2: "))
    print(var1/var2)
except ValueError:
    print("Invalid Input!")
except ZeroDivisionError:
    print("Cannot divide by zero!")
except:
    print("Something else went wrong!")
    print(sys.exc_info())

Enter var1: 4
Enter var2: 0
Cannot divide by zero!

In [ ]:
import sys
try:
    var1 = int(input("Enter var1: "))
    var2 = int(input("Enter var2: "))
    print(var1/var2)
except:
    print("Invalid Input!")
    print(sys.exc_info()) #to get more details about the exception
    print("Try Again!")
    var1 = int(input("Enter var1: "))
    var2 = int(input("Enter var2: "))
    print(var1/var2)
else:
    print("No exceptions!")
finally:
    print("Thank you, I am checking if finally works or not and I guess it does!")

Enter var1: 4
Enter var2: 2
2.0
No exceptions!
Thank you, I am checking if finally works or not and I guess it does!

Working with Libraries/Modules

Module: predefined collection of functions/classes related to specific tasks.

Types of Modules:
1. Built-in Modules (sys, random, math etc.)
2. Third Party/External Modules (numpy, pandas, sklearn etc.)
3. Custom Modules

In [ ]:
import math
print(math.factorial(4))

24

In [ ]:
from math import sqrt, floor
print(sqrt(16))
print(floor(4.5))

4.0
4

In [ ]:
import random
num = random.randint(1,100)
print(num)

90

Usefull Built-in Modules: sys, os, random, math, string, datetime

In [ ]:
#Installing third-party modules
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)